/* CSS */
:root {
    font-family: Cormorant Garamond, serif;
    --color: #000;
    --second: rgb(0, 0, 0,0.8);
    --accent: rgb(15, 15, 224);
}
html, body{
    scroll-behavior: smooth;
}
p,a,h1,h2,h3,h4,h5,h6{
    color: var(--color);
    margin-top: 0;
    padding-top: 0;
}
h1,h2,h3,h4,h5,h6{
    font-family: Arimo, sans-serif;
    font-weight: 700;
}
body {
    position: relative;
    margin: 0;
    margin-bottom: 1em;
    font-weight: 600;
    font-size: 1.1em;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 25% 75%;
    height: 100%;
}

#menu {
    font-family: Arimo, sans-serif;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
    text-align: left;
    margin: 2rem 0 0 2rem;
    width: 20vw;
    height: 100vh;
}
#refs{
    display: flex;
    flex-direction: column;
}

#specs{
    color: var(--second);
    font-family: Arimo;  
    font-size: 0.7em;
    margin-top: auto;
    margin-bottom: 50px;
}
#specs td{
    vertical-align: top;
}
tr td:nth-child(2){
    padding-left: 2em;

}
#menu button {
    border: none;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: var(--color);
    cursor: pointer;
}
#menu button:hover,
a:hover {
    text-decoration: underline;
}

/* Content Container */
footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}
#content{
    margin: 2rem 0rem;
    display: grid;
    grid-template-columns: 66% 33%;
    grid-column: 2;
    row-gap: 10em;
}
#content>div:nth-child(odd){
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 5vh;
}
#content p{
    line-height: 1.3em;
    color: var(--second);
}
#content a {
    color: var(--second);
    text-decoration: underline;
    font-style: italic;
}
blockquote{
    margin-left: 0;
}
blockquote p{
    font-style: italic;
    font-weight: 700;
    color: var(--accent) !important;
    border-left: 0.2em solid var(--accent);
    padding-left: 0.5em;
}
.toggleElement{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: var(--color) ;

}
.tags{
    color: var(--color);
}
.media{
    display: none;
}
.media,.toggleElement{
    font-family: Arimo, sans-serif;
    font-weight: 700;
}
.media>div:first-child{
    margin: 0 0 1em 1em;
}
.visible{
    display: block;
}
/*image enlargment*/
img{
    cursor: zoom-in;
    width: 90%;
}
.images{
    padding: 0 0 0 1em;
    align-items: center;
}
.enlarged{
    position: fixed;
    height: 80vh !important;
    width: auto !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: zoom-out;
    z-index: 2;
}
#background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    background-color: rgba(255,255,255);
    z-index: 1;
}


@media screen and (max-width: 768px) {
    body {
        font-size: 1em;
        grid-template-columns: 10% 80% 10%;
        margin-bottom: 5em;
    }
    #menu {
        visibility: hidden;
    }
    img {
        width: 100%;
    }
    .images{
        padding: unset;
    }
    .toggleElement{
        display: none;
    }
    .media{
        display: block;
    }
    .media>div:first-child{
        margin: 0 0 1em 0;
    }
    #content{
        grid-template-columns: 100%;
        margin-bottom: 10em;
        row-gap: 2.5vh;
    }
    .enlarged{
        position: fixed;
        height: auto !important;
        width: 100vw !important;
    }
    footer{
        flex-direction: column;
        gap: 1em;
        font-size: 1.1em;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        background-color: #000;
        --color: #fff;
        --second: #fff;
        --accent: rgb(214, 59, 209);
    }
    
  }