html, body{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    margin-bottom: 5%;
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    font-size: 1.1em;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    
}

#menu {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    font-size: 1em;
    text-align: left;
    margin: 2rem 0 0 2rem;
    width: 20vw;
    cursor: pointer;
}

.menu-points {
    font-family: 'IBM Plex Sans', sans-serif;
}

#menu button {
    border: none;
}

#menu a {
    text-decoration: none;
    color: black;
}
#menu button:hover,
a:hover {
    text-decoration: underline;
}

/* Content Container */
#content{
    grid-column: 2;
    font-weight: 400;
    text-align: justify;
}
#content>div{
    display: flex;
    flex-direction: column;
    gap: 5vh;
}
#content h1,
h2 {
    text-align: left;
    margin-top: 2rem;
}

#content hr {
    width: 40%;
}
.images{
    padding: 2vh 5vw;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    grid-gap: 1vw;
}
.images img, .images video{
    width: 100%;
    height: auto;
}
.images video:first-child,.images img:first-child{
    grid-column: span 2;
}
.img-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.img-wrapper img, .img-wrapper
video {
    height: 20vw;
    margin: auto;
}

@media screen and (max-width: 768px) {
    body {
        font-size: large;
        grid-template-columns: 10% 80% 10%;
    }
    #menu {
        visibility: hidden;
        width: 50vw;
        left: unset;
        text-align: right;
        right: 0;
        font-size: x-large;
        margin: 5rem 2rem 0 0;
        background-color: rgba(255,255,255,0.8);
    }
    .images{
        padding: unset;
    }
    .img-wrapper img,
    video {
        width: 100%;
        margin: auto;
        height: unset !important;
    }
}