body {
    margin: 0;
    margin-bottom: 5%;
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    overflow-x: hidden;
}

/* Menu */
.burger {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    visibility: hidden;
    
}

#burgerClose {
    visibility: hidden;
}

.menu {
    position: fixed;
    left: 0;
    top: 0;
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    font-size: 1em;
    color: black;
}

.menu-points {
    font-family: 'IBM Plex Sans', sans-serif;
}

.menu button {
    border: none;
    background-color: white;
    text-align: left;
}

.menu a {
    text-decoration: none;
    color: black;
}

.menu button:hover,
a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Content Container */
.l1-container {
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

.l2-container {
    text-align: justify;
}

.l2-container h1,
h2 {
    text-align: left;
}

.l2-container h1,
h2,
p {
    font-weight: 400;
}

.l2-container hr {
    width: 40%;
}

#l2-container-2 .img-wrapper {
    display: flex !important;
}

#l2-container-2 .img-wrapper img,
video {
    height: 20em;
    margin: auto;
    width: auto;
}
/* Arbitrary */
.swiper-button-next,
.swiper-button-prev {
    color: rgb(12, 12, 234) !important;
}

@media screen and (max-width: 768px) {
    body {
        font-size: large;
    }

    .l1-container {
        display: grid;
        grid-template-columns: 100%;
        padding: 30px;
    }

    .menu {
        visibility: hidden;
        position: absolute;
        height: 100vh;
        width: 100vw;
        background-color: white;
        font-size: x-large;
    }

    .burger {
        visibility: visible;
    }

    #l2-container-2 .img-wrapper img,
    video {
        width: 100%;
        margin: auto;
        height: auto;
    }
}