@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;
/* CSS */
@font-face {
    font-family: "Inter";
    src: url("fonts/Inter_18pt-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: medium;
}

@font-face {
    font-family: "Inter";
    src: url("fonts/Inter_18pt-Bold.ttf") format("woff2-variations");
    font-style: normal;
    font-weight: bold;
}
@theme {
    --font-sans: "Inter", sans-serif;
    --color-black: #1b191c;
    --color-gray: #666666;
    --color-background: #f8f8f8;
    --color-accent: #ff6532;
    --color-card-background: #fff;
    --color-card-border: #c0c0c0;
    --text-sm: 1rem;
    --text-md: 1.15rem;
    --text-lg: 1.2rem;
    --text-xl: 1.30rem;
    --text-sm-mobile: 0.95rem;
    --text-md-mobile: 1rem;
    --text-lg-mobile: 1.05rem;
    --text-xl-mobile: 1.15rem;

}
@layer base{
    html,
    body {
        @apply overscroll-y-none scroll-smooth m-0 font-sans;
    }
    h1{
        @apply text-xl-mobile md:text-xl font-bold text-black;
    }
    h2{
        @apply text-lg-mobile md:text-lg font-bold text-accent;
    }
    h3{
        @apply text-sm-mobile md:text-sm font-bold text-gray;
    }
    p{
        @apply text-sm-mobile md:text-sm text-black;
    }
    a {
        @apply text-black underline;
    }
}