/* CSS */
:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
  @supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
}
html, body{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    margin-bottom: 5%;
    font-weight: 400;
    font-size: 0.9em;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

#menu {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    font-size: 1em;
    text-align: left;
    margin: 2rem 0 0 2rem;
    width: 20vw;
    height: 100vh;
    cursor: pointer;
}

.menu-points {
    font-family: 'IBM Plex Sans', sans-serif;
}

#menu button {
    border: none;
}

#menu a {
    text-decoration: none;
    color: black;
}
#menu a:last-child {
    position: absolute;
    bottom: 0px;
    margin-bottom: 4rem;
}
#menu button:hover,
a:hover {
    text-decoration: underline;
}

/* Content Container */
#impressum {
    grid-column: 2;
    visibility: hidden;
}
#content{
    grid-column: 2;
    font-weight: 400;
    text-align: justify;
}
#content>div{
    display: flex;
    flex-direction: column;
    gap: 5vh;
}
#content h1,
h2 {
    text-align: left;
    margin-top: 2rem;
}
#content>div:first-child h1{
    color: white;
}
#content hr {
    width: 75%;
    border: none;
    height: 0.5px;
    background-color: black;
}
img {
    cursor: zoom-in;
}
.images{
    padding: 2vh 5vw;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    grid-gap: 1vw;
}
.images img, .images video{
    width: 100%;
    height: auto;
}
.images video:first-child,.images img:first-child{
    grid-column: span 2;
}
.img-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.img-wrapper img, .img-wrapper
video {
    height: 20vw;
    margin: auto;
}
.enlarged{
    position: fixed;
    height: 80vh !important;
    width: auto !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: zoom-out;
    z-index: 2;
}
#background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    background-color: rgba(255,255,255);
    z-index: 1;
}
@media screen and (max-width: 768px) {
    body {
        font-size: 0.9em;
        grid-template-columns: 10% 80% 10%;
    }
    #menu {
        visibility: hidden;
    }
    .images{
        padding: unset;
    }
    .img-wrapper img,
    video {
        width: 100%;
        margin: auto;
        height: unset !important;
    }
    .enlarged{
        position: fixed;
        height: auto !important;
        width: 80vw !important;
    }
}